/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 11, 2021, 4:49:14 PM
    Author     : leagi
*/
.plant-grid-item {
    margin-bottom: 1px;
    text-align: center
}

.in-stock-label {
    color: green;
    background-color: lightgreen;
    font-weight: bold
}

.out-of-stock-label {
    color: red;
    background-color: peachpuff;
    font-weight: bold
}

.plant-name {
    font-weight: bold
}

.plant-details-panel {
    height: available;
    text-align: center;
}

.add-to-cart-button {
    margin-bottom: 20px;
    margin-top: 20px
}

.review-scroller {
    text-align: left
}

.comment {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.remove-button {
    background-color: red;
}

.edit-button {
    background-color: yellow;
}

.add-button {
    margin-right: .5rem;
    background-color: green;
}

.plants-data-table {
    text-align:center;
}

.ui-button-warning {
    background-color: red
}

.shopping-cart-table {
    text-align: center
}

.total-price-label {
    text-align: center;
    font-weight: bold;
    font-family: Sans-serif;
    font-size: 500px;
}

.plant-dialog {
    margin-bottom: 50px;
    height: available;
}

.picture {
    text-align: center;
}

.edit-plant-dialog {
    height: available;
    width: available
}

.ui-fluid {
    height: available;
    width: 700px;
}

.profile-form {
    text-align: center
}

.profile-grid {
    margin-left: auto; 
    margin-right: auto;
}
